# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Gi455_week2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\weerawut\Desktop\455_week2\1620705150_week2\Gi455_week2\.idea\.idea.Gi455_week2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
